#Eclipse
.classpath
.project
.settings
.springBeans

#Gradle
.gradle/
bin/
build/

#IDEA
.idea
.iml
.ipr
.iws
out/

#JPA
*_.java

#Maven
target/

#backup & temp
*.bak

# Numerous always-ignore extensions
*.class
*.diff
*.err
*.gz
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.cache
.DS_Store
.tmproj
*.esproj
*.iml
*.ipr
*.iws
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db
.aider*
