farm-haystack==1.26.4
feedparser==6.0.10
  # required by farm-haystack
huggingface-hub==0.34.4
langchain==0.1.0
nltk==3.9
openpyxl==3.1.2
pandas==2.1.4
pdfminer.six==20231228
readability-lxml==0.8.1
selenium==4.17.2
  # required by farm-haystack
transformers==4.46.0